# Signature: emFta2FyYQ==
[Desktop Entry]
Name=ark Installer
Comment=Install ark linux to your system
Exec=alga
Icon=alga
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
